<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    
  <!-- Title -->
  <%- include("header.ejs") %>
                                                                                          
  <!-- calcluator -->
    <div class="container grid p-5">
        <div class="calculator">
            <h2 class="calcluatorName">FD Calculator</h2>
            <form id="interestForm">
                <label for="principal">Principal Amount:</label>
                <input type="number" id="principal" oninput="pInputHandler(event), calculate(event)" value="25000" name="principal" placeholder="Enter principal amount">
                <br/> <input type="range"  value="25000" oninput="pRangeHandler(event)" onchange=" calculate(event)" id="principal " min="500" max="1000000" >
                <br><br>
                <label for="rate">Rate of Interest (% per annum):</label>
                <input type="number" id="rate" name="rate" oninput="rInputHandler(event), calculate(event)" value="12" placeholder="Enter rate of interest">
                <br/><input type="range" name="rRate" value="12" oninput="rRangeHandler(event)" onchange=" calculate(event)"  id="rRate" min="1" max="30" >
                <br><br>
                <label for="time">Time (years):</label>
                <input type="number" id="time" name="time" oninput="tInputHandler(event),calculate(event)" value="10" placeholder="Enter time in years">
                <br/><input type="range" name="rTime" value="10" oninput="tRangeHandler(event)" onchange=" calculate(event)"  id="rTime" min="1" max="40" >
                <br><br><hr>
                <div class="output">
                  <label for="A">Invested Amount : &#8377</label>
                  <input readonly value="" class="result"  id="A" class="principal"/><br>
                  <br>
                  <label for="B">Estimated Return : &#8377</label>
                  <input readonly value="" class="result" id="B" class="rate"/><br>
                  <br>
                  <label for="C">Maturity Amount : &#8377</label>
                  <input readonly value="" class="result" id="C" class="time"/>
                </div>

              </form>


                <div class="chart" height="250" width="250">
                    <canvas id="myChart" width="250" height="250"></canvas>
                </div>
            

            <div class="container mt-5">
                <div class="info">
                     <h4> FD Calculator </h4> 
                       <p>
                        A fixed deposit is a type of term investment offered by several banks and NBFCs. These deposits typically offer a higher rate of interest, subject to certain terms and conditions. The amount you deposit in these deposits is locked for a predetermined period which can vary between 7 days and 10 years.
                        <br><br>
An FD calculator can be used to determine the interest and the amount that it will accrue at the time of maturity. It is a simple-to-use tool available on the Groww website.
                       </p><br><br>
                </div> 
                <div class="info"> 
                    <h4>How can an FD calculator help you?</h4>
                    <p>Calculating the maturity amount of an FD can be a complicated and time-consuming process. An online FD calculator enables one to figure it without breaking a sweat. <br></p>
                    <ul>
                      <li>FD maturity calculations are complex involving multiple variables. A Fixed Deposit calculator does all the hard work and gives you accurate figures just at the click of a button.</li>
                      <li>It helps you save a lot of time on these complex calculations.</li>
                      <li>A fixed deposit return calculator enables you to compare the maturity amount and interest rates of FDs offered by different financial institutions. You can make an informed decision when you have all the figures at your disposal.</li>
                    </ul><br><br>
                </div>
                <div class="info"> 
                    <h4>The formula to determine FD maturity amount</h4>
                    <p>There are two types of FD that you may avail of – simple interest FD and compound interest FD. Groww has calculators for both types of FD.</p><br>
                    <p>The fixed deposit calculator for simple interest FD uses the following formula –
                      <br>
                      <p><b>M=P×(1 + r/100)^n</b></p>
                    </p>
                    <ul>
                        <li>P : P is the principal amount that you deposit</li>
                        <li>r : r is the rate of interest per annum</li>
                        <li>n : n is the tenure in years</li>
                    </ul>
                </div> 
                <div class="info"> 
                    <h4>How to use FD calculator?</h4>
                   <p>Follow the steps mentioned below to use an FD deposit calculator conveniently.</p>
                    <ul>
                        <li>Ensure you have all the related data available to you.</li>
                        <li>Enter the variables as mentioned in the formula on their designated slots.</li>
                        <li>The FD maturity amount will be displayed instantly.</li>
                        
                    </ul>              
                    
                </div>
                <div class="info"> 
                    <h4>Advantages of using Groww FD calculator India</h4>
                    <p>Know the exact amount you will receive at the time of FD maturity using the FD amount calculator.</p>
                    <p>There are several other advantages of using these calculators –
                    </p>
                    <ul>
                      <li>Compare the maturity amount of different financial institutions easily.</li>
                      <li>Both of these calculators are free for unlimited use by registered users.</li>
                      <li>Get the exact amount you are eligible for at the end of your maturity period and plan your future accordingly.</li>
                    </ul><br>
                </div>
                
            </div>
        </div>

        

        <div class=" calculatorList col-md-4 col-xl-3 mb-3"> <!-- added class for width -->
            <h5 >Other Calculators</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2 pt-4"><a href="./stepup-sip" class="nav-link p-0 text-body-secondary">Step Up SIP Calculator</a></li>
              <li class="nav-item mb-2"><a href="./ppf" class="nav-link p-0 text-body-secondary">PPF Calculator</a></li>
              <li class="nav-item mb-2"><a href="./ssy" class="nav-link p-0 text-body-secondary">SSY Calculator</a></li>
              <li class="nav-item mb-2"><a href="./gst" class="nav-link p-0 text-body-secondary">GST Calculator</a></li>
              <li class="nav-item mb-2"><a href="./lumpsum" class="nav-link p-0 text-body-secondary">Lumpsum Calculator</a></li>
            </ul>
          </div>

    </div>

    
    <%- include("footer.ejs")%>

    <script type="module" src="acquisitions.js"></script>
  <script>
    // Data
   // Data
let amt = 100;
let rate = 5;
let time = 10;
let M 
let totalAmount


let p = document.querySelector("#principal");
p.addEventListener('change', (event) => {
  amt = event.target.value;
});

let r = document.querySelector("#rate");
r.addEventListener('change', (event) => {
  rate = event.target.value;
});

let t = document.querySelector("#time");
t.addEventListener('change', (event) => {
  time = event.target.value;
});

let pRange = document.querySelector("#rPrincipal")
let rRange = document.querySelector("#rRate") 
let tRange = document.querySelector("#rTime")

let investedAmt = document.querySelector("#A")
let estRet = document.querySelector("#B") 
let totalValue = document.querySelector("#C")



function pRangeHandler(event){
  p.value = event.target.value;
}
function rRangeHandler(event){
  r.value = event.target.value;
}
function tRangeHandler(event){
  t.value = event.target.value;
}


function pInputHandler(event){
  pRange.value = event.target.value;
}
function rInputHandler(event){
  rRange.value = event.target.value;
}
function tInputHandler(event){
  t.value = event.target.value;
}


amt = p.value;
  rate = r.value;
  time = t.value;

  amt = parseFloat(amt);
  rate = parseFloat(rate);
  time = parseFloat(time);
  
  let i = rate / 100;
  console.log(amt,rate,time);
  //P × ({[1 + i]^n - 1} / i) × (1 + i)
  let n = time;
 let a = Math.pow((1+i),(n));
  M = amt*a;
   totalAmount = amt;

  let investedamount = (Math.round(amt));
  let estReturns = (Math.round(M-totalAmount));

  investedAmt.value = (investedamount).toLocaleString('en-in')
  estRet.value = (estReturns).toLocaleString('en-in')
  totalValue.value = (Math.round(parseFloat(investedamount) + parseFloat(estReturns))).toLocaleString('en-in');
  

function updateChart() {
  const newData = {
    labels: ['est. ret', 'principal amount'],
    datasets: [{
      label: 'My Doughnut Chart',
      data: [M-totalAmount, totalAmount],
      backgroundColor: [
        'rgb(50, 50, 50)' ,
        'rgb(200, 200, 200)'
      ],
      borderWidth: 1
    }]
  };

  myChart.data = newData; 
  myChart.update(); 
}


function calculate() {
  event.preventDefault();
  console.log("workingg",r.value,t.value,amt);
  amt = p.value;
  rate = r.value;
  time = t.value;

  amt = parseFloat(amt);
  rate = parseFloat(rate);
  time = parseFloat(time);
  
  let i = rate / 100;
  console.log(amt,rate,time);
  //P × ({[1 + i]^n - 1} / i) × (1 + i)
  let n = time;
 let a = Math.pow((1+i),(n));
  M = amt*a;
   totalAmount = amt;

  let investedamount = (Math.round(amt));
  let estReturns = (Math.round(M-totalAmount));

  investedAmt.value = (investedamount).toLocaleString('en-in')
  estRet.value = (estReturns).toLocaleString('en-in')
  totalValue.value = (Math.round(parseFloat(investedamount) + parseFloat(estReturns))).toLocaleString('en-in');
  updateChart();
}


const data = {
  labels: ['est. ret', 'principal amount'],
  datasets: [{
    label: 'My Doughnut Chart',
    data: [M-totalAmount, totalAmount],
    backgroundColor: [
      'rgb(200, 200, 200)', 
      'rgb(50, 50, 50)' 
    ],
    borderWidth: 1
  }]
};

const config = {
  type: 'doughnut',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
      }
    }
  }
};


var myChart = new Chart(
  document.getElementById('myChart'),
  config
);
  </script>
</body>
</html>