
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    
  <!-- Title -->
  <%- include("header.ejs") %>
                                                                                          
  <!-- calcluator -->
    <div class="container grid p-5">
        <div class="calculator">
            <h2 class="calcluatorName">GST Calculator</h2>
            <form id="interestForm">
                <label for="principal">Amount:</label>
                <input type="number" id="principal" oninput="pInputHandler(event), calculate(event)" value="25000" name="principal" placeholder="Enter principal amount">
                <br/> 
                <br><br>
                <label for="rate">GST Rate :</label>
                <select name="rate" id="rate" oninput="rInputHandler(event), calculate(event)">
                  <option value="3">3</option>
                  <option value="5">5</option>
                  <option value="12">12</option>
                  <option value="18">18</option>
                  <option value="28">28</option>
                </select>
                
                <br><br>
                <hr>
                <div class="output">
                  <label for="A">GST : &#8377</label>
                  <input readonly value="" class="result"  id="A" class="principal"/><br>
                  <br>
                  <label for="B">Total Value: &#8377</label>
                  <input readonly value="" class="result" id="B" class="rate"/><br>
                  <br>
                </div>
              
              </form>



            <div class="container mt-5">
                <div class="info">
                     <h4> GST Calculator </h4> 
                        <p>The GST Act was passed by the parliament on March 29, 2017 and implemented from July 1 of the same year. The Good and Services Tax is an indirect tax levied by the Indian government on all goods and services purchased within its jurisdiction. It is a single tax that has eliminated multiple indirect taxes of the previous regime such as sales tax, VAT, Excise Duty, etc.

                          Every enterprise operating in India has to mandatorily register for the GST. They are required to have a GST Identification Number or GSTIN. Consumers have to pay this tax for all goods they purchase and all the services they avail. As such, it is paramount that one understands how to compute GST accurately. You may take the help of the GST calculator to evaluate the same.</p><br><br>
                </div> 
                <div class="info"> 
                    <h4>How Can a GST Calculator Help You?</h4>
                    <p>Everything that you purchase, be it a product or a service, is taxed under the GST amount. It’s to your advantage to know how much tax you are paying for the products you use. That’s where an Indian GST calculator can come to your aid.</p>
                    <br><br>
                    <ul>
                      <li>GST tax calculator provides you with an accurate estimate of the amount of tax you have to pay.
                        </li>
                      <li>
                        It helps you save time for the calculation of GST.
                        </li>
                      <li>
                        It eliminates the chances of any fraudulent activities if you are an aware consumer who knows his/her taxes.</li>
                    </ul>
                </div>
                <div class="info"> 
                    <h4>Formula to Determine GST Amount</h4>
                    <br>
                    <p>The GST amount calculator uses a standardised method to calculate GST. There are 2 aspects of this calculator- adding GST and removing GST from the total price of an item.
                      <br><br>
                      For adding GST, the following formula is used.
                      <br><br>
                      GST amount = (Price x GST%)
                      <br><br>
                      Net price = Cost of the product + GST amount
                      <br><br>
                      For example, if a product or service costs Rs. 100 and the GST levied on that is 18%, the GST amount will be 100 x 18% = Rs. 18. The net amount you’d have to pay would be Rs. 118.
                      <br><br>
                      For removing GST from the net price of a product, the following formula is used:
                      <br><br>
                      GST= Original cost – [Original cost x {100/(100+GST%)}]
                      <br><br>
                      Net price = Original cost – GST
                      <br><br>
                      For example, if the cost of a product after GST of 18% is Rs. 118, its original cost is 118 – [100/(100 + 18%)}], which equates to Rs. 100. <br><br></p>
                    
                </div> 
                <div class="info"> 
                    <h4>Advantages of using Groww GST calculator</h4>
                    
                    <ul>
                        <li>You can figure out the tax amount you are paying.
                          </li>
                        <li>
                          It is quick and accurate, thereby saving you valuable time.
                          </li>
                        <li>
                          You stay protected from any fraudulent activities that may arise out of wrong GST calculation</li>
                    </ul><br>               
                    <br><br>
                </div>

            </div>
        </div>

        

        <div class=" calculatorList col-md-4 col-xl-3 mb-3"> <!-- added class for width -->
          <h5 >Other Calculators</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 pt-4"><a href="./stepup-sip" class="nav-link p-0 text-body-secondary">Step Up SIP </a></li>
            <li class="nav-item mb-2"><a href="./ppf" class="nav-link p-0 text-body-secondary">PPF Calculator</a></li>
            <li class="nav-item mb-2"><a href="./ssy" class="nav-link p-0 text-body-secondary">SSY Calculator</a></li>
            <li class="nav-item mb-2"><a href="./gst" class="nav-link p-0 text-body-secondary">GST Calculator</a></li>
            <li class="nav-item mb-2"><a href="./lumpsum" class="nav-link p-0 text-body-secondary">Lumpsum </a></li>
            <li class="nav-item mb-2"><a href="./home-loan" class="nav-link p-0 text-body-secondary">Home Loan </a></li>
            <li class="nav-item mb-2"><a href="./fd" class="nav-link p-0 text-body-secondary">FD Calculator</a></li>
            <li class="nav-item mb-2"><a href="./sip" class="nav-link p-0 text-body-secondary">SIP Calculator</a></li>
            <li class="nav-item mb-2"><a href="./compound" class="nav-link p-0 text-body-secondary">Compound Interest</a></li>
          </ul>
        </div>

    </div>

    
    <%- include("footer.ejs") %>

    <script type="module" src="acquisitions.js"></script>
  <script>
    // Declare variables
let amt, rate, g, total;

// Get input elements
let p = document.querySelector("#principal");
let r = document.querySelector("#rate");
let pRange = document.querySelector("#rPrincipal");
let gst = document.querySelector("#A");
let totalAmt = document.querySelector("#B");

// Add event listeners for input elements
p.addEventListener('input', calculate);
r.addEventListener('change', calculate);
pRange.addEventListener('input', pInputHandler);

// Function to handle principal range input
function pInputHandler(event) {
  p.value = event.target.value;
}

// Function to calculate GST and total amount
function calculate() {
  // Get values from input elements
  amt = parseFloat(p.value);
  rate = parseFloat(r.value);

  // Calculate GST and total amount
  g = amt * (rate / 100); 
  total = Math.round(g + amt);

  // Update input field values
  gst.value = g.toLocaleString('en-in');
  totalAmt.value = total.toLocaleString('en-in');

  // Update chart
  updateChart();
}

// Function to update the chart
function updateChart() {
  const newData = {
    labels: ['GST', 'Total Amount'],
    datasets: [{
      label: 'GST and Total Amount',
      data: [g, total],
      backgroundColor: [
        'rgb(50, 50, 50)',
        'rgb(200, 200, 200)'
      ],
      borderWidth: 1
    }]
  };

  myChart.data = newData; 
  myChart.update(); 
}

// Initial chart data
const data = {
  labels: ['GST', 'Total Amount'],
  datasets: [{
    label: 'GST and Total Amount',
    data: [g, total],
    backgroundColor: [
      'rgb(200, 200, 200)',
      'rgb(50, 50, 50)'
    ],
    borderWidth: 1
  }]
};

// Chart configuration
const config = {
  type: 'doughnut',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
      }
    }
  }
};

  </script>
</body>
</html>