<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/homepage.css">
</head>
<body>

    <!-- header -->
    <%- include("header.ejs") %>


    <!-- Calculator List -->
    <div class="calculators">
        <div class="album py-5 bg-body-light">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <a href="/sip">
                    <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm mb-4 single-card" style="box-shadow: 1px 1px 10px 0.1px rgb(206, 206, 206);">
                      <h2 style="padding: 1rem 1rem;">SIP CAL</h2>
                      <div class="card-body">
                        <p class="card-text">Estimates the future value and returns on investments made through Systematic Investment Plans (SIPs) in mutual funds over a specified period.</p>
                      </div>
                      <div class="card-image">
                          <img class="cc455BackgroundImage box_image" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/sip.81144080.png" width="80" height="80" alt="SIP Calculator" loading="lazy" >
                      </div>
                    </div>
                  </div>
                </a>

                <a href="/lumpsum">
                    <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm mb-4 single-card" style="box-shadow: 1px 1px 10px 0.1px rgb(206, 206, 206);">
                      <h2 style="padding: 1rem 1rem;">Lumpsum CAL</h2>
                      <div class="card-body">
                        <p class="card-text">Computes the future value and returns for a one-time investment made at the beginning or end of a specified period.</p>
                      </div>
                      <div class="card-image">
                        <img class="cc455BackgroundImage" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/carLoanEmi.6c269820.png" width="80" height="80" alt="Car Loan EMI Calculator" loading="lazy">
                      </div>
                    </div>
                  </div>
                </a>

                <a href="/fd">
                  <div class=" col-lg-4 col-md-6 col-sm-12">
                  <div class="card shadow-sm mb-4 single-card" style="box-shadow: 1px 1px 10px 0.1px rgb(206, 206, 206);">
                    <h2 style="padding: 1rem 1rem;">FD CAL</h2>
                    <div class="card-body">
                      <p class="card-text">Computes the future value and returns for a one-time investment made at the beginning or end of a specified period.</p>
                    </div>
                    <div class="card-image">
                      <img class="cc455BackgroundImage" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/carLoanEmi.6c269820.png" width="80" height="80" alt="Car Loan EMI Calculator" loading="lazy">
                    </div>
                  </div>
                </div>
              </a>

                <a href="/ppf">
                    <div class=" col-lg-4 col-md-6 col-sm-12">
                        <div class="card shadow-sm mb-4 single-card" style="box-shadow: 1px 1px 10px 0.1px rgb(206, 206, 206);">
                          <h2 style="padding: 1rem 1rem;">PPF CAL</h2>
                          <div class="card-body">
                            <p class="card-text">Calculates returns and maturity amount for investments made in Public Provident Fund (PPF) accounts.</p>
                          </div>
                          <div class="card-image">
                            <img class="cc455BackgroundImage" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/epf.0c7feded.png" width="80" height="80" alt="EPF Calculator" loading="lazy">
                          </div>
                        </div>
                      </div>
                </a>
        
                <a href="/gst">
                    <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="card shadow-sm mb-4 single-card" style="box-shadow: 1px 1px 10px 0.1px rgb(206, 206, 206);">
                      <h2 style="padding: 1rem 1rem;">GST CAL</h2>
                      <div class="card-body">
                        <p class="card-text"> Computes the Goods and Services Tax (GST) amount based on the given inputs such as the tax rate and the amount before tax.</p>
                      </div>
                      <div class="card-image">
                        <img class="cc455BackgroundImage" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/ppf.43ef77b0.png" width="80" height="80" alt="Margin Calculator" loading="lazy">
                      </div>
                    </div>
                  </div>
                </a>

                

                <a href="/SSY">
                    <div class=" col-lg-4 col-md-6 col-sm-12">
                        <div class="card shadow-sm mb-4 single-card" style="box-shadow: 1px 1px 10px 0.1px rgb(206, 206, 206);">
                          <h2 style="padding: 1rem 1rem;">SSY CAL</h2>
                          <div class="card-body">
                            <p class="card-text">Estimates the maturity value and returns for investments made under the Sukanya Samriddhi Yojana (SSY) scheme.</p>
                          </div>
                          <div class="card-image">
                            <img class="cc455BackgroundImage" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/retirement.2da4c3fd.png" width="80" height="80" alt="Retirement Calculator" loading="lazy">
                          </div>
                        </div>
                      </div>
                </a>

                <a href="/stepup-sip">
                    <div class=" col-lg-4 col-md-6 col-sm-12">
                        <div class="card shadow-sm mb-4 single-card" style="box-shadow: 1px 1px 10px 0.1px rgb(206, 206, 206);">
                          <h2 style="padding: 1rem 1rem;">Step Up SIP CAL</h2>
                          <div class="card-body">
                            <p class="card-text">Step-up SIP is an investment strategy that allows investors to gradually increase their SIP contributions over time.</p>
                          </div>
                          <div class="card-image">
                            <img class="cc455BackgroundImage" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/gratuity.0cc18168.png" width="80" height="80" alt="Compound Interest Calculator" loading="lazy">
                          </div>
                        </div>
                      </div>
                </a>

                
                <h1 class="container gradient-background" style="text-align: center; width: 100%; border-radius: 10px ;">Coming Next</h1>
                
                <a href="/emi">
                  <div class=" col-lg-4 col-md-6 col-sm-12">
                  <div class="card shadow-sm mb-4 single-card" style="box-shadow: 1px 1px 10px 0.1px rgb(206, 206, 206);">
                    <h2 style="padding: 1rem 1rem;">EMI CAL</h2>
                    <div class="card-body">
                      <p class="card-text">Calculates EMI payments to be made on any types of loans.</p>
                    </div>
                    <div class="card-image">
                        <img class="cc455BackgroundImage box_image" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/sip.81144080.png" width="80" height="80" alt="SIP Calculator" loading="lazy" >
                    </div>
                  </div>
                </div>
              </a>

              <a href="/cagr">
                <div class=" col-lg-4 col-md-6 col-sm-12">
                <div class="card shadow-sm mb-4 single-card" style="box-shadow: 1px 1px 10px 0.1px rgb(206, 206, 206);">
                  <h2 style="padding: 1rem 1rem;">CAGR CAL</h2>
                  <div class="card-body">
                    <p class="card-text"> Computes the Compound Annual Growth Rate (CAGR) to measure the annual growth rate of an investment over a specified period.</p>
                  </div>
                  <div class="card-image">
                      <img class="cc455BackgroundImage box_image" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/sip.81144080.png" width="80" height="80" alt="SIP Calculator" loading="lazy" >
                  </div>
                </div>
              </div>
            </a>

            <a href="/afford">
              <div class=" col-lg-4 col-md-6 col-sm-12">
              <div class="card shadow-sm mb-4 single-card" style="box-shadow: 1px 1px 10px 0.1px rgb(206, 206, 206);">
                <h2 style="padding: 1rem 1rem;">Affordability CAL</h2>
                <div class="card-body">
                  <p class="card-text">Calculates and tells whether you can afford certain things like Cars, House, etc.</p>
                </div>
                <div class="card-image">
                    <img class="cc455BackgroundImage box_image" src="//assets-netstorage.groww.in/web-assets/billion_groww_desktop/prod/_next/static/media/sip.81144080.png" width="80" height="80" alt="SIP Calculator" loading="lazy" >
                </div>
              </div>
            </div>
          </a>
                

                

                


              </div>
            </div>
          </div>
    </div>

    <!-- Footer -->
    <%- include("footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>