<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    
  <!-- Title -->
  <%- include("header.ejs") %>
                                                                                          
  <!-- calcluator -->
    <div class="container grid p-5">
        <div class="calculator">
            <h2 class="calcluatorName">PPF Calculator</h2>
            <form id="interestForm">
                <label for="principal">Principal Amount:</label>
                <input type="number" id="principal" oninput="pInputHandler(event), calculate(event)" value="25000" name="principal" placeholder="Enter principal amount">
                <br/> <input type="range"  value="25000" oninput="pRangeHandler(event)" onchange=" calculate(event)" id="principal " min="500" max="1000000" >
                <br><br>
                <label for="rate">Rate of Interest (% per annum):</label>
                <input type="number" id="rate" name="rate" oninput="rInputHandler(event), calculate(event)" value="7.1" placeholder="Enter rate of interest" readonly>
                <!-- <br/><input type="range" name="rRate" value="7.1" oninput="rRangeHandler(event)" onchange=" calculate(event)"  id="rRate" min="7.1" max="7.1" > -->
                <br><br>
                <label for="time">Time (years):</label>
                <input type="number" id="time" name="time" oninput="tInputHandler(event),calculate(event)" value="15" placeholder="Enter time in years">
                <br/><input type="range" name="rTime" value="15" oninput="tRangeHandler(event)" onchange=" calculate(event)"  id="rTime" min="15" max="50" >
                <br><br><hr>
                <div class="output">
                  <label for="A">Invested Amount : &#8377</label>
                  <input readonly value="" class="result"  id="A" class="principal"/><br>
                  <br>
                  <!-- <label for="C">Total Interest : &#8377</label>
                  <input readonly value="" class="result" id="C" class="time"/>
                  <br> -->
                  
                  <label for="B">Maturity value : &#8377</label>
                  <input readonly value="" class="result" id="B" class="rate"/><br>
                </div>

              </form>


                <div class="chart" height="250" width="250">
                    <canvas id="myChart" width="250" height="250"></canvas>
                </div>
            

            <div class="container mt-5">
                <div class="info">
                     <h4>PPF Calculator</h4> 
                        <p>The first step towards wealth management is accumulating savings. You will find a lot of options for savings accounts; however, look for the ones that guarantee substantial returns risk-free. PPF accounts are one of the most common features which come into the picture. PPF account refers to Public Provident fund account and is meant to invest your valuable capital.</p>
                        <br><br>
                        <p>If you are a new employee or a responsible parent who wishes to save for the future, then PPF is ideal for you. Calculating the interest rates and returns on your PPF account turns a bit difficult. To make these difficult calculations easy, PPF account calculator can be used</p>
                        <br><br>
                </div> 
                <div class="info"> 
                    <h4>How can a PPF calculator help you?</h4>
                    <p>This financial tool allows one to resolve their queries related to Public Provident Fund account. There are certain specifications that are to be abided by while calculating maturity amount after a certain point of time. It keeps a track on the growth of your capital. Those who already have a PPF savings account know that interest rates change on monthly basis.
                      <br>
                      Nowadays, it is easier to keep a check on changing rates. However, with the discovery of public provident fund calculator, account holders find it easier to find out monthly changes made in interest. In the market, you may find lot of user-friendly PPF calculators and for choosing trustworthy ones, Groww is simply the option.</p><br><br>
                </div>
                <div class="info"> 
                    <h4>Formula used for calculating PPF</h4>
                    <p>Groww uses a formula to compute the deposited amount, interest, etc. This formula has been given below –</p>
                    <br>
                    <b>F = P [({(1+i) ^n}-1)/i]</b>
                    <br><br>
                    <ul>
                        <li>I : Rate of interest</li>
                        <li>F : Maturity of PPF</li>
                        <li>N : Total number of years</li>
                        <li>P : Annual instalments</li>
                    </ol>
                    <br><br> <p>In order to clear your concept about PPF calculation, an example has been given. This calculation becomes easier once you buy PPF calculator.
                      <br><br>
                      Suppose, an individual pays an annual amount of Rs. 1,50,000 in their PPF investment for a period of 15 years at an interest rate of 7.1%, then his/her maturity sum at the closing year will be equal to Rs. 40,68,209.
                      <br><br>
                      A quick check on opening balance, closing balance, withdraw amount and also rate of interest will definitely help you out. Have a look at the given below table.</p>
                      
                </div> 
                <div class="info"> 
                    <h4>How to use PPF calculator?</h4>
                    <p>To enjoy this computing tool to the maximum, you need to understand how it works. Its user-friendly and accurate information makes it a device worthy of purchase. The only job of the user is to put values within specific columns and you are good to go. Details that are to be provided to this PPF amount calculator include tenure, total amount invested, interest earned and also amount invested monthly or yearly.</p><br>
    
                    <ul>
                        <li>Enter the values in the requisite fields and the total maturity amount will be reflected within seconds.</li>
                        <li>If an individual deposits amount on 1st of April then interest will be calculated based on financial year. Inflation might affect this interest rate.</li>
                        
                    </ul><br>               
                    
                </div>
                
                <div class="info"> 
                    <h4>Advantages of using PPF calculator</h4>
                     <p>The list below demonstrates benefits of using online PPF calculator. Have a look at it.</p><br>
                    <ul>
                        <li>This computing device allows users to make a clear idea about how much interest can be earned with the investment of a certain amount of money.</li>
                        <li>With the assistance of this calculator, you can be saved from paying hefty tax.</li>
                        <li>We often find it difficult to decide on maturity period of their investment and this problem is easily solved with the use of PPF calculator India.</li>
                        <li>It also offers estimation on total investment in a financial year.</li>
                    </ul>
                </div>
            </div>
        </div>

        

        <div class=" calculatorList col-md-4 col-xl-3 mb-3"> <!-- added class for width -->
          <h5 >Other Calculators</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 pt-4"><a href="./stepup-sip" class="nav-link p-0 text-body-secondary">Step Up SIP Calculator</a></li>
            <li class="nav-item mb-2"><a href="./ppf" class="nav-link p-0 text-body-secondary">PPF Calculator</a></li>
            <li class="nav-item mb-2"><a href="./ssy" class="nav-link p-0 text-body-secondary">SSY Calculator</a></li>
            <li class="nav-item mb-2"><a href="./gst" class="nav-link p-0 text-body-secondary">GST Calculator</a></li>
            <li class="nav-item mb-2"><a href="./lumpsum" class="nav-link p-0 text-body-secondary">Lumpsum Calculator</a></li>
          </ul>
        </div>

  </div>

    
    <%- include("footer.ejs")%>

    <script type="module" src="acquisitions.js"></script>
  <script>
    // Data
   // Data
let amt = 100;
let rate = 5;
let time = 10;
let M 
let totalAmount


let p = document.querySelector("#principal");
p.addEventListener('change', (event) => {
  amt = event.target.value;
});

let r = document.querySelector("#rate");
r.addEventListener('change', (event) => {
  rate = event.target.value;
});

let t = document.querySelector("#time");
t.addEventListener('change', (event) => {
  time = event.target.value;
});

let pRange = document.querySelector("#rPrincipal")
let rRange = document.querySelector("#rRate") 
let tRange = document.querySelector("#rTime")

let investedAmt = document.querySelector("#A")
let estRet = document.querySelector("#B") 
let totalValue = document.querySelector("#C")



function pRangeHandler(event){
  p.value = event.target.value;
}
function rRangeHandler(event){
  r.value = event.target.value;
}
function tRangeHandler(event){
  t.value = event.target.value;
}


function pInputHandler(event){
  pRange.value = event.target.value;
}
function rInputHandler(event){
  rRange.value = event.target.value;
}
function tInputHandler(event){
  t.value = event.target.value;
}


amt = p.value;
  rate = r.value;
  time = t.value;

  amt = parseFloat(amt);
  rate = parseFloat(rate);
  time = parseFloat(time);
  
  let i = rate / 100;
  console.log(amt,rate,time);
  //P × ({[1 + i]^n - 1} / i) × (1 + i)
  let n = time;
 let a = (Math.pow((1+i),(time))-1)/i;
  M = amt*a*(i+1);
   totalAmount = amt*time;

  let investedamount = (Math.round(totalAmount));
  let estReturns = (Math.round(M));

  investedAmt.value = (investedamount).toLocaleString('en-in')
  estRet.value = (estReturns).toLocaleString('en-in')
  totalValue.value = (Math.round(parseFloat(investedamount) + parseFloat(estReturns))).toLocaleString('en-in');
  

function updateChart() {
  const newData = {
    labels: ['est. ret', 'principal amount'],
    datasets: [{
      label: 'My Doughnut Chart',
      data: [M-totalAmount, totalAmount],
      backgroundColor: [
        'rgb(50, 50, 50)' ,
        'rgb(200, 200, 200)'
      ],
      borderWidth: 1
    }]
  };

  myChart.data = newData; 
  myChart.update(); 
}


function calculate() {
  event.preventDefault();
  console.log("workingg",r.value,t.value,amt);
  amt = p.value;
  rate = r.value;
  time = t.value;

  amt = parseFloat(amt);
  rate = parseFloat(rate);
  time = parseFloat(time);
  
  let i = rate / 100;
  console.log(amt,rate,time);
  //P × ({[1 + i]^n - 1} / i) × (1 + i)
  let n = time;
 let a = (Math.pow((1+i),(time))-1)/i;
  M = amt*a;
   totalAmount = amt*time*(i+1);

  let investedamount = (Math.round(amt));
  let estReturns = (Math.round(M));
  investedAmt.value = (investedamount).toLocaleString('en-in')
  estRet.value = (estReturns).toLocaleString('en-in')
  totalValue.value = (Math.round(parseFloat(investedamount) + parseFloat(estReturns))).toLocaleString('en-in');
  updateChart();
}


const data = {
  labels: ['est. ret', 'principal amount'],
  datasets: [{
    label: 'My Doughnut Chart',
    data: [M-totalAmount, totalAmount],
    backgroundColor: [
      'rgb(200, 200, 200)', 
      'rgb(50, 50, 50)' 
    ],
    borderWidth: 1
  }]
};

const config = {
  type: 'doughnut',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
      }
    }
  }
};


var myChart = new Chart(
  document.getElementById('myChart'),
  config
);
  </script>
</body>
</html>